.xdevl_social img.social-button
{
	width: 32px ;
	height: 32px ;
	margin: 0.2em ;
}

.xdevl_social span.social-button
{
	width: 2rem ;
	height: 2rem ;
	margin: 0.4rem 0 ;
	display: inline-block ;
	background-size: 2rem 2rem ;
	background-position: left center ;
	background-repeat: no-repeat ;
}

.xdevl_social span.google
{
	background-image: url("img/google.png") ;
}

.xdevl_social span.github
{
	background-image: url("img/github.png") ;
}

.xdevl_social span.facebook
{
	background-image: url("img/facebook.png") ;
}
